@media screen and (max-width: 800px){
  /* .boxComponent { */
  /* width: 100%; 
    font-size: 5vw;
  }   */
  /* .link{
    font-size: 10vw;
  } */
  .flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
  }
}