.header__navbar-list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 0px;
    margin: 0 231px;
}

.header__logo{
    display: flex;  
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.logo__tikiImg{
    padding:0px 40px 0px 10px;
    width: 110px;
    height: 43px;
}

.header__navbar-search{
    width: 697px;
    height: 38px;
}

.header__navbar-links{
    display: flex;
    padding-left: 3rem;
    justify-content: space-around;
}

.header__navbar-links .header__navbar-link{
    padding: 8px 1rem;
}

.header__navbar-searchs{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    border: 1px solid rgb(221, 221, 227);
    border-radius: 4px;
}

.header__navbar-searchs-item{
    width: 45px;
    padding: 0 10px 0 15px;
    font-size: 18px;
}

.header__navbar-search
/* , .header__navbar-search:focus */
{
    width: 703px;
    border: none;
    outline-width: 0;
}

.header__navbar-search-button{
    padding: 0 0;
    width: 94px;
    height: inherit;
    background: transparent;
    outline: none;
    border: none;
    position: relative;
    color: rgb(10, 104, 255);
    font-size: 1.8rem;
}

.header__navbar-search-button::after{
    content: "";
    top: 7px;
    left: -2px;
    right: 0px;
    height: 26px;
    border-left: 1px solid rgb(199, 199, 204);
    display: block;
    position: absolute;
}


/* Animation */
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
