<!--
  <p>Start editting magic happending!</p>
  <input type="text" [value] = "user.name" />
  <div *ngIf="user.age < 18">You are too young to see content</div>
  <input placeholder="&#xF002; search" type="text" style="font-family:FontAwesome"/>

  <button (click)="user.age = user.age + 1">increase</button>
   <button (click) = "user.age += 1">-</button>
  Age: {{user.age}}
  <button (click)="user.age = user.age - 1">Descrese</button>
  <p>
    {{ user |json}}
  </p>
-->

<!-- <h3>Java</h3>
<app-stack-skill></app-stack-skill>
<h3>Angular</h3>
<app-stack-skill></app-stack-skill> -->
<!--
<app-ng-model-component></app-ng-model-component> -->

<!-- <app-ng-template-component> </app-ng-template-component> -->
